@import "tailwindcss";

:root {
  --destructive: #ff0000;
  --background: #f4efe4;
  --green: #345102;
  --blue: #4316bf;
  --yellow-001: #fff683;
  --yellow-000: #fefbc8;
  --orange: #ffbbab;
  --text: #260b1f;
  --surface: #ffffff;

  --tan: #f4efe4;
  --plum-000: #260b1f;
  --black: #221f20;
  --transparent: #ddd0;
  --orange-001: #ff6d4b;
  --blue-005: #4316bf;
  --green-004: #345102;
  --pink-001: #bda7d3;
  --blue-000: #befbff;
  --pink-002: #ffcdff;
  --green-001: #d2ffd1;
  --blue-001: #00f0ff;
  --blue-003: #1c687a;
  --pink-004: #d27fff;
  --blue-006: #c0f0ff;
  --blue-004: #006ae5;
  --plum-002: #4c0000;
  --yellow-002: #f9c432;
  --blue-002: #00b6f5;
  --plum-001: #887d85;
  --yellow-003: #e28200;
  --pink-005: #ea116a;
  --green-002: #afd700;
  --green-003: #00dd0d;
  --pink-003: #ff8acd;
}

body {
  background-color: var(--background);
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@theme {
  --color-destructive: var(--destructive);
  --color-background: var(--background);
  --color-primary: var(--green);
  --color-secondary: var(--blue);
  --color-accent-500: var(--yellow-001);
  --color-accent-100: var(--yellow-000);
  --color-orange: var(--orange);
  --color-text: var(--text);
  --color-surface: var(--surface);

  --animate-fade-in: fade-in 0.5s ease-in-out;
  --animate-wingle: wingle 1s infinite;

  --font-sans: "Inter", sans-serif;
  --font-borel: "Borel", cursive;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    50% {
      opacity: 0.5;
      color: red;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes wingle {
    0% {
      transform: rotate(-3deg);
    }
    50%% {
      transform: rotate(3deg);
    }
  }

  --animate-heart-pulse: heartbeat 2s ease-in-out infinite;
  --animate-card-hover: card-hover 0.3s ease-in-out;

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes card-hover {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: rgba(255, 187, 171, 0.7);
    }
  }

  @keyframes card-leave {
    0% {
      background-color: rgba(255, 187, 171, 0.7);
    }
    100% {
      background-color: transparent;
    }
  }
}

[data-slot="card"] {
  background-color: transparent;
}

[data-slot="card"]:hover {
  animation: card-hover 0.3s ease-in-out forwards;
}

[data-slot="card"]:not(:hover) {
  animation: card-leave 0.3s ease-in-out forwards;
}
